.siderbar-overview,
.form-overview {
  display: inline-block;
}
.siderbar-overview {
  float: left;
  background-color: rgb(18, 18, 18);
}
.sidebar-main {
  width: 280px;
  text-align: center;
}
.sunset-username,
.sunset-description {
  color: rgb(231, 228, 235);
  padding: 2px;
}
.sunset-description {
  font-size: small;
  font-weight: 400;
}
.form-overview {
  margin-left: 8px;
}
.image-container {
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.image-background {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin: 20px auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
