/* 
              Generic
      ------------------------------------------------
  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  color: $light-grey;
  overflow-x: hidden;
}
.main {
  transition: transform 0.3s ease-in-out;
  position: relative;
}
